.CreatePackage{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.47);
    position: fixed;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creatingPackagePart{
    width: 35%;
    height: 90%;
    background-color: whitesmoke;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.creatingPackagePartTop{
    width: 100%;
    height: 10%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.creatingPackageTopText{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.creatingPackageTopText > h1{
    font-size: 20px;
    font-weight: 500;
}
.creatingPackageTopBtn{
    width: 10%;
    height: 80%;
    background-color: rgb(250, 204, 119);
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 10px;
    transition: all 350ms ease-in-out;
}
.creatingPackageTopBtn:hover{
    transform: scale(1);
    background-color: orange;
}

.creatingPackagePartLine{
    width: 100%;
    height: 1px;
    background-color: lightgrey;margin-top: 10px;
}

.creatingPackagePartInputPart{
    width: 80%;
    height: 40%;
    /* background-color: yellow; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.creatingPackageInputPartInput{
    width: 100%;
    height: 40%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.creatingPackageInputPartInput > label{
    font-size: 16px;
    font-weight: 500;
}
.creatingPackageInputPartInput > input{
    width: 100%;
    height: 60%;
    padding-left: 10px;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.creatingPackageBtn{
    width: 80%;
    height: 10%;
    background-color: orange;
    border: none;
    border-radius: 6px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.assignPackagePart{
    width: 35%;
    height: 90%;
    background-color: whitesmoke;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.assignPackagePartTop{
    width: 100%;
    height: 10%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.assignPackageTopText{
    font-size: 8px;
    font-family: 'Roboto';
    font-weight: 500;
    margin-left: 150px;
}
.assignPackageTopBtn{
    width: 10%;
    height: 80%;
    background-color: rgb(250, 204, 119);
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 10px;
    transition: all 350ms ease-in-out;
}
.assignPackageTopBtn:hover{
    transform: scale(1);
    background-color: orange;
}
.assignPackagePartLine{
    width: 100%;
    height: 1px;
    background-color: lightgrey;margin-top: 10px;
}

.assignPackagePartInputPart{
    width: 80%;
    height: 60%;
    /* background-color: yellow; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.assignPackageInputPartInput{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.destinationInput{
    width: 100%;
    height: 17%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.destinationInput > input{
    width: 70%;
    height: 100%;
    border-radius: 6px;
    outline: none;
    border: 1px solid lightgrey;
    padding-left: 10px;
}
.sendDestinationBtn{
    width: 20%;
    height: 90%;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.assignPackageInputPartInput > p{
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
    margin-top: 20px;
}
.allRidersHere{
    width: 100%;
    height: 70%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.theRidersList{
    width: 100%;
    height: 50px;
    background-color: orange;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}


.selectInput{
    width: 100%;
    height: 50%;
    /* border: none; */
    font-family: 'Roboto';
    outline: none;
}
.selectInput > option{
    width: 100%;
    height: 100px;
    /* background-color: green; */
    /* border: none; */
}

.assignPackageBtn{
    width: 80%;
    height: 13%;
    background-color: orange;
    border: none;
    border-radius: 6px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}



@media screen  and (max-width: 900px){
    
}



@media screen  and (max-width: 476px){

    .creatingPackagePart{
        width: 90vw;
    }
    .creatingPackagePartTop{
        width: 100%;
        height: 10%;
        /* background-color: aqua; */
    }
    .creatingPackageTopText{
        width: 50%;
        height: 100%;
        /* background-color: red; */
        margin-left: 50px;
    }
    .creatingPackageTopText > h1{
        font-size: 17px;
    }
    .creatingPackagePartInputPart{
        width: 90%;
        height: 60%;
        /* background-color: yellow; */
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}



@media screen  and (max-width: 414px){

    .creatingPackageTopText > h1{
        font-size: 15px;
    }
    .creatingPackageInputPartInput > label{
        font-size: 13px;
    }
    .creatingPackageBtn{
        font-size: 15px;
    }
}