.PackagePage{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 6px;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    gap: 30px;
}

.packagePageLeft{
    width: 45%;
    height: 95%;
    background-color: white;
    margin-top: 20px;
    border-radius: 6px;
    margin-left: 20px;
}
.packagePageLeftTop{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px;
}
.packagePageLeftLine{
    width: 100%;
    height: 1px;
    background-color: lightgrey;
}

.packageSearchPart{
    width: 85%;
    height: 50px;
    /* background-color: yellow; */
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.searchInput{
    width: 60%;
    height: 100%;
    padding-left: 10px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
}
.searchBtn{
    width: 35%;
    height: 100%;
    background-color: lightgrey;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 17px;
    /* font-weight: 500; */
}
.listOfPackages{
    width: 85%;
    height: 73%;
    /* background-color: yellow; */
    margin-top: 20px;
    margin-left: 20px;
}
.packageListProperties{
    width: 100%;
    height: 15%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 500;
    padding-left: 20px;
    gap: 200px;
}
.thePackages{
    width: 100%;
    height: 83%;
    /* background-color: blue; */
    overflow-y: scroll;
}
.thePackagesItems{
    width: 100%;
    height: 15%;
    background-color: rgb(255, 222, 160);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    border-radius: 6px;
    margin-top: 10px;
    /* cursor: pointer; */
    padding-left: 20px;
    gap: 120px;
    position: relative;
}
.assignButton{
    width: 18%;
    height: 90%;
    background-color: orange;
    border-radius: 6px;
    /* margin-right: 20px; */
    position: absolute;
    right: 10px;
    border: none;
    color: white;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}


.packagePageRight{
    width: 50%;
    height: 95%;
    background-color: white;
    margin-top: 20px;
    border-radius: 6px;
    /* margin-left: 20px; */
}
.packagePageRightTop{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.packagePageRightTop > nav{
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
}
.packagePageRightLine{
    width: 100%;
    height: 1px;
    background-color: lightgrey;
}
.theAssignedPackagesItems{
    width: 100%;
    height: 15%;
    background-color: rgb(255, 222, 160);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    border-radius: 6px;
    margin-top: 10px;
    /* cursor: pointer; */
    padding-left: 20px;
    gap: 200px;
    position: relative;
}