.RiderDashboardPart{
    width: 100vw;
    height: 100vh;
    /* background-color: yellow; */
    display: flex;
}

.riderDashboardPartMenuBar{
    width: 15%;
    height: 100vh;
    background-color: #fde2b4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.riderDashboardPartMenuBarTop{
    width: 100%;
    height: 20%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.riderDashboardPartMenuBarTopLogo{
    width: 50%;
    height: 90%;
    /* background-color: white; */
}
.riderDashboardPartMenuBarTopLogo >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.riderMenuBarBody{
    width: 100%;
    height: 60%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.riderisactive{
    width: 100%;
    height: 10%;
    background-color: orange;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 20px;
    gap: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
}
.riderisnotactive{
    width: 100%;
    height: 10%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 20px;
    gap: 5px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: all 350ms ease-in-out;
    border-radius: 6px;
}

.riderisnotactive:hover{
    transform: scale(1);
    background-color: rgb(255, 221, 157);
    color: white;
}
.riderMenuBarnavLogo{
    width: 12%;
    height: 60%;
    /* background-color: blue; */
}
.riderMenuBarnavLogo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.riderMenuBarBottom{
    width: 100%;
    height: 15%;
    /* background-color: green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.logOutImg{
    width: 10%;
    height: 35%;
    /* background-color: red; */
    margin-left: 30px;
    cursor: pointer;
}
.logOutImg > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logOutLink{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.logOutLink:hover{
    color: orange;
}   

.riderBody{
    width: 85%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.riderBodyTop{
    width: 99%;
    height: 12%;
    background-color: whitesmoke;
    border-radius: 6px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.riderBodyTopLeft{
    width: 25%;
    height: 100%;
    /* background-color: blue; */
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.riderBodyTopLeft > p{
    font-size: 20px;
    font-weight: 500;
}
.riderBodyTopRight{
    width: 10%;
    height: 100%;
    /* background-color: purple; */
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
}
.riderBodyTopNotification{
    width: 20%;
    height: 40%;
    /* background-color: red; */
    cursor: pointer;
    position: relative;
}
.riderBodyTopNotification > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.notifyDot{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
    top: -9px;
    left: 9px;
}
.riderTopRightProfile{
    width: 40%;
    height: 60%;
    background-color: orange;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
}
.riderBodyDown{
    width: 99%;
    height: 86%;
    background-color: white;
    border-radius: 6px;
}