.AboutPage{
    width: 100%;
    height: auto;
    background-color: #FAF5EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

.aboutHeroSection{
    width: 100%;
    height: 400px;
    background-image: url(../images/aboutherosectionimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutHeroSection > h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    margin-bottom: 10px;
}
.aboutHeroSection > p{
    color: white;
    text-align: center;
    font-size: 14px;
}

.aboutpageintro{
    width: 20%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.aboutpageintro > h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.aboutpageintrounderline{
    width: 100%;
    height: 35px;
    background-image: url(../images/aboutpageunderlineimage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutPageTrackingProductSection{
    width: 70vw;
    height: 300px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}
.aboutPageTrackingProductSectionText{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.aboutPageTrackingProductSectionText > h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.aboutPageLine{
    width: 50%;
    height: 3px;
    background-color: orange;
    border-radius: 10px;
}
.aboutPageTrackingProductSectionText > p{
    font-size: 14.5px;
    color: #848383;
}
.aboutPageTrackingProductSectionImg{
    width: 50%;
    height: 100%;
    background-image: url(../images/aboutpagesecondimage.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.aboutPageGoalsMissionSection{
    width: 70vw;
    height: 300px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.aboutPageGoalsMissionSectionText{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.aboutPageGoalsMissionSectionText > h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.aboutPageGoalsMissionSectionText > p{
    font-size: 14.5px;
    color: #848383;
}
.aboutPageGoalsMissionSectionImg{
    width: 50%;
    height: 100%;
    background-image: url(../images/aboutpagethirdimage.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.aboutPageVisionSection{
    width: 70vw;
    height: 300px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.aboutPageVisionSectionText{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.aboutPageVisionSectionText > h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.aboutPageVisionSectionText > p{
    font-size: 14.5px;
    color: #848383;
}
.aboutPageVisionSectionImg{
    width: 50%;
    height: 100%;
    background-image: url(../images/aboutpagefourthimage.png);
    background-repeat: no-repeat;
    background-size: cover;
}





@media screen and (max-width: 500px) {

    .AboutPage{
        gap: 50px;
    }
    .aboutHeroSection > h1{
        font-size: 40px;
    }
    .aboutHeroSection > p{
        font-size: 12px;
    }

    .aboutpageintro{
        width: 50vw;
        height: 100px;
    }
    .aboutpageintro > h1{
        font-size: 25px;
    }
    .aboutpageintrounderline{
        width: 100%;
        height: 25px;
    }

    .aboutPageTrackingProductSection{
        width: 70vw;
        height: 450px;
        /* background-color: aqua; */
        flex-direction: column;
    }
    .aboutPageTrackingProductSectionText{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
    }
    .aboutPageTrackingProductSectionText > h2{
        font-size: 20px;
    }
    .aboutPageTrackingProductSectionText > p{
        font-size: 13px;
    }
    .aboutPageTrackingProductSectionImg{
        width: 100%;
        height: 100%;
    }


    .aboutPageGoalsMissionSection{
        width: 70vw;
        height: 450px;
        /* background-color: aqua; */
        flex-direction: column;
    }
    .aboutPageGoalsMissionSectionText{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
    }
    .aboutPageGoalsMissionSectionText > h2{
        font-size: 20px;
    }
    .aboutPageGoalsMissionSectionText > p{
        font-size: 13px;
    }
    .aboutPageGoalsMissionSectionImg{
        width: 100%;
        height: 100%;
    }

    .aboutPageVisionSection{
        width: 70vw;
        height: 450px;
        /* background-color: aqua; */
        flex-direction: column;
    }
    .aboutPageVisionSectionText{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
    }
    .aboutPageVisionSectionText > h2{
        font-size: 20px;
    }
    .aboutPageVisionSectionText > p{
        font-size: 13px;
    }
    .aboutPageVisionSectionImg{
        width: 100%;
        height: 100%;
    }
    
    

}





@media screen and (max-width: 345px) {

    .AboutPage{
        gap: 50px;
    }
    .aboutHeroSection > h1{
        font-size: 30px;
    }
    .aboutHeroSection > p{
        font-size: 10px;
    }

    .aboutpageintro{
        width: 50vw;
        height: 100px;
    }
    .aboutpageintro > h1{
        font-size: 20px;
    }
    .aboutpageintrounderline{
        width: 90%;
        height: 25px;
    }

    .aboutPageTrackingProductSection{
        width: 70vw;
        height: 450px;
        /* background-color: aqua; */
        flex-direction: column;
    }
    .aboutPageTrackingProductSectionText{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
    }
    .aboutPageTrackingProductSectionText > h2{
        font-size: 18px;
    }
    .aboutPageTrackingProductSectionText > p{
        font-size: 10px;
    }
    .aboutPageTrackingProductSectionImg{
        width: 100%;
        height: 100%;
    }


    .aboutPageGoalsMissionSection{
        width: 70vw;
        height: 450px;
        /* background-color: aqua; */
        flex-direction: column;
    }
    .aboutPageGoalsMissionSectionText{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
    }
    .aboutPageGoalsMissionSectionText > h2{
        font-size: 18px;
    }
    .aboutPageGoalsMissionSectionText > p{
        font-size: 10px;
    }
    .aboutPageGoalsMissionSectionImg{
        width: 100%;
        height: 100%;
    }

    .aboutPageVisionSection{
        width: 70vw;
        height: 450px;
        /* background-color: aqua; */
        flex-direction: column;
    }
    .aboutPageVisionSectionText{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
    }
    .aboutPageVisionSectionText > h2{
        font-size: 18px;
    }
    .aboutPageVisionSectionText > p{
        font-size: 10px;
    }
    .aboutPageVisionSectionImg{
        width: 100%;
        height: 100%;
    }
    
    

}