*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Companysignup{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center!important;
    align-items: center;
    gap: 30px;
    position: relative;
}

.companySignupLogo{
    width: 8%;
    height: 100px;
    /* background-color: red; */
    position: fixed;
    top: 20px;
    left: 20px;
}
.companySignupLogo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signupContainer{
    width: 40%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    /* border: 2px solid orange; */
    gap: 10px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.signupContainer > h1{
    margin-top: 20px;
}
.formPart{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.signupInputReal{
    width: 100%;
    height: auto;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}
.nameinputPart{
    width: 45%;
    height: auto;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.nameinputPart > label{
    font-size: 16px;
    font-weight: 500;
}
.nameinputPart > input{
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 10px;
    border-radius: 6px;
    border: 1px solid rgb(231, 231, 231);
    margin-top: 10px;
}
.nameinputPart > input:hover{
    border: 1px solid rgb(209, 209, 209);
}
.nameinputPart > input:focus{
    border: 1px solid orange;
}

.inputPart{
    width: 45%!important;
    height: 80px;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.inputPart > label{
    font-size: 16px;
    font-weight: 500;
}
.inputPart > input{
    width: 100%;
    height: 60%;
    outline: none;
    padding-left: 10px;
    border-radius: 6px;
    border: 1px solid rgb(231, 231, 231);
}
.companySignupPasswordInput{
    width: 100%;
    height: 60%;
    outline: none;
    /* padding-left: 10px; */
    /* border-radius: 6px; */
    /* border: 1px solid rgb(231, 231, 231); */
    display: flex;
    position: relative;
}
.companySignupPasswordInput > input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 50px;
    border: 1px solid rgb(231, 231, 231);
}
.passwordInputIcon{
    width: 10%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
}
.inputPart > input:hover{
    border: 1px solid rgb(209, 209, 209);
}
.companySignupPasswordInput > input:hover{
    border: 1px solid rgb(209, 209, 209);
}
.inputPart > input:focus{
    border: 1px solid orange;
}
.companySignupPasswordInput > input:focus{
    border: 1px solid orange;
}
.CompanysignupButton{
    width: 90%;
    height: 55px;
    background-color: #FFA500;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 50px;
}
.CompanysignupButton:hover{
    background-color: #f2a008;
}
.CompanysignupButton:active{
    background-color: #f4ae2d;
}

.linkToLoginPage{
    font-size: 18px!important;
    font-weight: 500;
    margin-bottom: 30px!important;
}
.loginLink{
    text-decoration: none;
    color: orange;
}
.inputPart{
    width: 100%;
    height: 80px;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}




@media screen  and (max-width: 900px){

    .companySignupLogo{
        width: 10%;
        height: 100px;
    }
    .signupContainer{
        width: 80%;
    }
}




@media screen  and (max-width: 476px){

    .Companysignup{
        width: 100%;
        height: auto;
        /* flex-direction: column; */
        justify-content: center;
        align-items: flex-end;
        /* gap: 30px; */
        position: relative;
    }
    .signupContainer{
        width: 90%;
        height: auto;
        background-color: white;
        gap: 10px;
        margin-left: 0px;
        margin-bottom: 50px;
        margin-top: 150px;
    }
    .companySignupLogo{
        width: 20%;
        height: 100px;
        /* background-color: red; */
        position: absolute;
        top: 20px;
        left: 200px;
    }
    .signupInputReal{
        width: 100%;
        height: auto;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* gap: 20px; */
    }
    .nameinputPart{
        width: 100%;
        margin-bottom: 25px;
    }
    .nameinputPart > input{
        margin-bottom: 10px;
    }
    .inputPart{
        width: 100%!important;
        margin-bottom: 25px;
    }
}



@media screen  and (max-width: 414px){

    .companySignupLogo{
        width: 30%;
        left: 100px;
    }
    .CompanysignupButton{
        margin-top: 5px;
    }
}