*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Companysignup{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center!important;
    align-items: center;
    gap: 30px;
    position: relative;
}

.companySignupLogo{
    width: 8%;
    height: 100px;
    /* background-color: red; */
    position: fixed;
    top: 20px;
    left: 20px;
}
.companySignupLogo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signupContainer{
    width: 35%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    /* border: 2px solid orange; */
    gap: 10px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.signupContainer > h1{
    margin-top: 20px;
}
.formPart{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.nameinputPart{
    width: 100%;
    height: auto;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nameinputPart > label{
    font-size: 16px;
    font-weight: 500;
}
.nameinputPart > input{
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 10px;
    border-radius: 6px;
    border: 1px solid rgb(231, 231, 231);
    margin-top: 10px;
}
.nameinputPart > input:hover{
    border: 1px solid rgb(209, 209, 209);
}
.nameinputPart > input:focus{
    border: 1px solid orange;
}

.inputPart{
    width: 100%;
    height: 80px;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inputPart > label{
    font-size: 16px;
    font-weight: 500;
}
.inputPart > input{
    width: 100%;
    height: 60%;
    outline: none;
    padding-left: 10px;
    border-radius: 6px;
    border: 1px solid rgb(231, 231, 231);
}
.companySignupPasswordInput{
    width: 100%;
    height: 60%;
    outline: none;
    /* padding-left: 10px; */
    /* border-radius: 6px; */
    /* border: 1px solid rgb(231, 231, 231); */
    display: flex;
    position: relative;
}
.companySignupPasswordInput > input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 50px;
    border: 1px solid rgb(231, 231, 231);
}
.passwordInputIcon{
    width: 10%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
}
.inputPart > input:hover{
    border: 1px solid rgb(209, 209, 209);
}
.companySignupPasswordInput > input:hover{
    border: 1px solid rgb(209, 209, 209);
}
.inputPart > input:focus{
    border: 1px solid orange;
}
.companySignupPasswordInput > input:focus{
    border: 1px solid orange;
}
.CompanysignupButton{
    width: 90%;
    height: 55px;
    background-color: #FFA500;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
}
.CompanysignupButton:hover{
    background-color: #f2a008;
}

.linkToLoginPage{
    font-size: 18px!important;
    font-weight: 500;
    margin-bottom: 30px!important;
}
.loginLink{
    text-decoration: none;
    color: orange;
}




@media screen and (max-width: 821px){

    /* .Companysignup{
        width: 100vw;
        height: 100vh;
        background-color: #FAF5EC;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
    } */

    .signupContainer{
        width: 45vw;
        height: 90vh;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}




@media screen and (max-width: 500px){

    /* .Companysignup{
        width: 100vw;
        height: auto;
        background-color: #FAF5EC;
        display: flex;
        justify-content: center!important;
        align-items: center;
        justify-content: center;
        gap: 40px;
    } */

    .Companysignupimg{
        display: none;
    }

    .signupContainer{
        width: 80vw!important;
        height: auto;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .formPart{
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        margin-bottom: 10px;
    }

    .twoInputJoin{
        width: 100%;
        height: auto;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .inputPart{
        width: 100%;
        height: 70px;
        /* background-color: bisque; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .inputPart > label{
        font-size: 18px;
        font-weight: 500;
    }

    .CompanysignupButton{
        width: 100%;
        height: 55px;
    }

    .linkToLoginPage{
        margin-bottom: 50px;
    }
    

}





@media screen and (max-width: 416px){


    .signupContainer{
        width: 90vw;
        height: 90%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}




@media screen and (max-width: 367px){


    .signupContainer{
        width: 90vw;
        height: 90%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .nameinputPart > label{
        font-size: 15px;
        font-weight: 500;
    }

    .inputPart > label{
        font-size: 17px;
        font-weight: 500;
    }

}



@media screen and (max-width: 323px){


    .signupContainer{
        width: 90vw;
        height: 90%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .nameinputPart > label{
        font-size: 15px;
        font-weight: 500;
    }

    .inputPart > label{
        font-size: 15px;
        font-weight: 500;
    }

}