.landingHeader{
    width: 100%;
    height: 80px;
    background-color: #FFD996;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999999999;
    top: 0px;
}
.landingHeaderHolder{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftHeader{
    width: 10%;
    height: 100%;
    /* background-color: red; */
}
.leftHeader > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rightHeader{
    width: 50%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerNavMenu{
    width: 70%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.active{
    text-decoration: none;
    color: orange;
}
.notactive{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.buggerMenu{
    width: 9%;
    height: 40%;
    /* background-color: red; */
    display: none;
}
.buggerMenu > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.getStartedButton{
    width: 20%;
    height: 50%;
    background-color: #FFA500;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
.getStartedButton:hover{
    background-color: #faa404;
}

.landingFooter{
    width: 100%;
    height: 400px;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.landingFooterTop{
    width: 80%;
    height: 30%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.landingFooterTop > h5{
    font-size: 25px;
    font-family: 'Arial';
    color: whitesmoke;
}
.landingFooterTop > p{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Arial';
    color: whitesmoke;
}
.landingFooterCenter{
    width: 80%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.landingFooterCenterLogo{
    width: 15%;
    height: 60%;
    /* background-color: green; */
}
.landingFooterCenterLogo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.landingFooterCenterText{
    width: 60%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 30px;
}
.landingFooterCompany{
    width: 30%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.landingFooterLink{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.landingFooterLink:hover{
    color: orange;
}
.landingFooterSocialMedia{
    width: 40%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.landingFooterSocialMedia > h6{
    font-size: 20px;
    color: whitesmoke;
}
.socialMediaImg{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 20px;
}
.facebook{
    width: 15%;
    height: 70%;
    background-color: blue;
}
.twitter{
    width: 15%;
    height: 70%;
    background-color: blue;
}
.instagram{
    width: 15%;
    height: 70%;
    background-color: blue;
}
.landingFooterButton{
    width: 20%;
    height: 50px;
    background-color: #FFA500;
    border: none;
    border-radius: 6px;
    color: black;
    cursor: pointer;
    color: white;
}
.landingFooterButton:hover{
    color: rgb(230, 230, 230);
    background-color: #f5a003;
}
.landingFooterBottom{
    width: 100%;
    height: 20%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landingFooterLine{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 30px;
}
.landingFooterBottom > p{
    color: white;
    font-size: 15px;
    margin-top: 20px;
}



@media screen and (max-width: 500px){

    .leftHeader{
        width: 20%!important;
    }
    .active{
        display: none;
    }
    .notactive{
        display: none;
    }
    .buggerMenu{
        display: flex;
    }

}