*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Landingpage{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    position: relative;
}

.landingPageMenuBar{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.304);
    display: flex;
    justify-content: flex-end;
    top: 0px;
    position: fixed;
    z-index: 20px;
    animation: slideInRight;
    animation-duration: 2s; 
}
.landingPageMenuBarMenu{
    width: 90%;
    height: 90%;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.landingPagecloseMenuBar{
    width: 15%;
    height: 10%;
    background-color: rgba(255, 215, 140, 0.23);
    position: absolute;
    right: 0;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    color: white;
    border-radius: 6px;
    padding-bottom: 10px;
    transition: all 350ms ease-in-out;
}
.closeMenuBar:hover{
    transform: scale(1);
    background-color: orange;
}
.menuactive{
    width: 100%;
    height: 15%;
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.menunotactive{
    width: 100%;
    height: 15%;
    /* background-color: orange; */
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    transition: all 350ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
}
.menunotactive:hover{
    transform: scale(1);
    background-color: #ffbc3e;
}
.landingPagemenuSignup{
    width: 80%;
    height: 13%;
    background-color: orange;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.heroSection{
    width: 80%;
    height: 500px;
    border-right: 1px solid #FFA500;  
    border-bottom: 1px solid #FFA500;  
    display: flex;
    margin-top: 30px;
}
.heroSectionLeft{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.heroSectionRight{
    width: 50%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.heroText{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
}
.heroText > h1{
    font-size: 60px;
    font-family: 'Roboto'
}
.heroText > h1 > span{
    color: #FFA500;
}
.heroText > p{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
    margin-top: 10px;
    color: #8A8C8F;
}

.heroSectionButton{
    width: 30%;
    height: 60px;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Poppins';
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.heroSectionButton:hover{
    background-color: #ee9c03;
}
.heroSectionRight > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.landingPageH1{
    font-size: 40px;
    margin-top: 50px;
}

.section2{
    width: 70%;
    height: 400px;
    /* background-color: #C5C1C6; */
    margin-top: 100px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
}
.section2Left{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
}
.section2Left > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section2Right{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section2RightContentFirst{
    width: 100%;
    height: 24%;
    background-color:  #FFBC42;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.section2RightContentSecond{
    width: 100%;
    height: 28%;
    background-color:  #FFBC42;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.section2RightContentThird{
    width: 100%;
    height: 28%;
    background-color:  #FFBC42;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.section2RightContentLeft{
    width: 10%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2RightContentRight{
    width: 90%;
    height: 100%;
    /* background-color: #FFBC42; */
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-family: 'Poppins';
}
.section2RightContentLeftCircleFirst{
    width: 35%;
    height: 15%;
    background-color: #575757;
    border-radius: 100%;
}
.section2RightContentLeftCircleSecond{
    width: 35%;
    height: 13%;
    background-color: #575757;
    border-radius: 100%;
}
.section2RightContentLeftCircleThird{
    width: 35%;
    height: 13%;
    background-color: #575757;
    border-radius: 100%;
}
.landingPageH2{
    font-size: 35px;
    margin-top: 50px;
    text-align: center;
}

.section3{
    width: 100%;
    height: 1000px;
    background-color: #F2F0F0;
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section3Top{
    width: 80%;
    height: 45%;
    /* background-color: yellow; */
    display: flex;
}
.section3TopLeft{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}
.section3TopLeftTextPart{
    width: 100%;
    height: 30%;
    /* background-color: green; */
    display: flex;
    gap: 10px;
}
.section3TopLeftImg{
    width: 5%;
    height: 25%;
    /* background-color: aqua; */
    border-radius: 100%;
    margin-top: 33px;
}
.section3TopLeftImg > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section3TopLeftText{
    width: 90%;
    height: 100%;
    /* background-color: #071B63; */
    display: flex;
    align-items: center;
}
.section3TopLeftText > p{
    font-size: 17px;
    font-family: 'Poppins';
}
.section3TopLeftText > p > span{
    font-weight: 500;
}
.section3TopRight{
    width: 50%;
    height: 100%;
    /* background-color: red; */
}
.section3TopRight > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section3Bottom{
    width: 80%;
    height: 36%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3BottomLeft{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}
.section3BottomLeft > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section3BottomRight{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}
.section3BottomRight > h1{
    font-weight: 500;
    font-size: 35px;
    font-family: 'Roboto';
}
.section3BottomRight > h1 > span{
    color: orange;
}
.section3BottomRight > p{
    font-size: 18px;
    font-family: 'Poppins';
}
.section3BottomRightBtn{
    width: 30%;
    height: 50px;
    background-color: #FFA500;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;font-family: 'Poppins';
    border-radius: 6px;
    cursor: pointer;
}

.section4{
    width: 100%;
    height: 500px;
    background-color: #FFA500;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.section4Left{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section4LeftTop{
    width: 90%;
    height: 40%;
    /* background-color: blue; */
    margin-top: 10px;
}
.section4LeftTop > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section4LeftBottom{
    width: 90%;
    height: 40%;
    /* background-color: blue; */
    margin-bottom: 10px;
}
.section4LeftBottom > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section4Center{
    width: 60%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.section4Center > h1{
    font-size: 35px;
    font-family: segoe UI;
    font-weight: 800;
    color: white;
    text-align: center;
}
.section4Button{
    width: 20%;
    height: 50px;
    background-color: whitesmoke;
    border: none;
    border-radius: 6px;
    color: #071B63;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.packagewriteup{
    width: 50%;
    height: 20px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fastsecure{
    display: flex;
    align-items: center;
    gap: 10px;
}
.check{
    width: 10px;
    height: 10px;
    /* background-color: red; */
    margin-bottom: 10px;
}
.fastsecure > p{
    font-size: 13px;
    color: whitesmoke;
}
.fastsecure > .check > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.watchpackage{
    display: flex;
    align-items: center;
    gap: 10px;
}
.watchpackage > p{
    font-size: 13px;
    color: whitesmoke;
}
.watchpackage > .check > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section4Right{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section4RightTop{
    width: 90%;
    height: 40%;
    /* background-color: blue; */
    margin-top: 10px;
}
.section4RightTop > img{
    width: 90%;
    height: 100%;
    object-fit: fill;
}
.section4RightBottom{
    width: 90%;
    height: 40%;
    /* background-color: blue; */
    margin-bottom: 10px;
}
.section4RightBottom > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section5{
    width: 85%;
    height: 450px;
    background-color: #FAF8F9;
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
}
.section5Left{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
}
.section5Left > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section5Right{
    width: 50%;
    height: 100%;
    /* background-color: #FFA500; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.section5Text{
    width: 90%;
    height: 80%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section5Text > h1{
    font-size: 40px;
    font-family: 'Roboto';
}
.section5Text > p{
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 450;
    margin-bottom: 40px;
    margin-top: 20px;
}
.section5Text > p > span{
    color: orange;
    cursor: pointer;
}





@media screen and (max-width:775px){

    .landingHeaderHolder{
        width: 85%;
        height: 100%;
        /* background-color: blue; */
    }
    .rightHeader{
        width: 70%!important;
    }
    .getStartedButton{
        width: 20%!important;
        height: 50%;
    }
    .heroSection{
        width: 85%;
        height: 400px;
    }
    .heroSectionLeft{
        width: 50%;
        height: 100%;
    }
    .heroSectionRight{
        width: 50%;
        height: 100%;
    }
    .heroText{
        width: 100%;
        height: 50%;
        /* background-color: yellow; */
    }
    .heroText > h1{
        font-size: 40px;
    }
    .heroText > h6{
        font-size: 15px;
    }
    
    .heroSectionButton{
        width: 40%;
        height: 50px;
        margin-top: -10px;
    }
    .section2Left > img{
        object-fit: cover;
    }
    .section4Center{
        width: 60%;
    }
    .section4RightTop > img{
        object-fit: contain;
    }
    .section4RightBottom > img{
        object-fit: contain;
    }
    .section4LeftTop > img{
        object-fit: contain;
    }
    .section4LeftBottom > img{
        object-fit: contain;
    }
    .packagewriteup{
        width: 70%;
        height: 20px;
        /* background-color: aqua; */
    }
    .fastsecure > p{
        font-size: 10px;
    }
    .watchpackage > p{
        font-size: 10px;
    }
    .section5Left > img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .section5Text{
        width: 90%;
        height: 80%;
    }
    .section5Text > h1{
        font-size: 25px;
    }
    .section5Text > p{
        font-size: 10px;
    }
    
}




@media screen and (max-width: 500px){

    .leftHeader{
        width: 20%!important;
    }
    .active{
        display: none;
    }
    .notactive{
        display: none;
    }
    .buggerMenu{
        display: flex;
    }
    .getStartedButton{
        display: none;
    }
    .heroSection{
        width: 85%;
        height: 400px;
        /* background-color: yellow; */
    }
    .heroSectionLeft{
        width: 100%!important;
        height: 100%;
        /* background-color: red; */
        align-items: center;
        justify-content: center;
    }
    .heroSectionRight{
        width: 50%;
        height: 100%;
        display: none;
    }
    .heroText{
        width: 100%;
        height: 40%;
        /* background-color: yellow; */
        text-align: center;
    }
    .heroText > h1{
        font-size: 40px;
    }
    .heroText > h6{
        font-size: 20px;
    }
    .section2{
        width: 85%;
        height: 500px;
        flex-direction: column;
    }
    .section2Left{
        width: 100%;
        /* background-color: yellow; */
    }
    .section2Right{
        width: 100%;
        height: 100%;
    }
    .section2Left > img{
        object-fit: cover;
    }
    .section3{
        width: 85%;
        height: 350px;
        margin-top: 5px;
        margin-bottom: 150px;
        flex-direction: column;
        gap: 20px;
    }
    .section3Left{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
    }
    .section3Right{
        width: 100%;
        height: 100%;
        /* background-color: #FFA500; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section3Text{
        width: 90%;
        height: 80%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section3Text > h1{
        font-size: 30px;
        font-family: 'Segoe UI';
    }
    .section3Text > p{
        font-size: 15px;
        text-align: center;
    }
    .section4{
        margin-bottom: 10px;
    }
    .section4Left{
        width: 30%;
        height: 100%;
    }
    .section4Right{
        width: 30%;
        height: 100%;
        /* background-color: red; */
    }
    .section4Center{
        width: 60%;
        height: 100%;
    }
    .section4Center > h1{
        font-size: 20px;
    }
    .section4Button{
        width: 50%;
        height: 40px;
    }
    .section4LeftTop{
        width: 90%;
        height: 40%;
        /* background-color: blue; */
        margin-top: 10px;
        margin-left: 30px;
    }
    .section4Center{
        width: 40%;
        /* background-color: blue; */
    }
    .packagewriteup{
        width: 100%;
        height: 20px;
        /* background-color: aqua; */
    }
    .fastsecure > p{
        font-size: 7px;
    }
    .watchpackage > p{
        font-size: 7px;
    }
    .section5{
        width: 70%;
        height: 400px;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 50px;
    }
    .section5Left{
        width: 100%;
        height: 100%;
        /* background-color: yellow;c */
    }
    .section5Right{
        width: 100%;
        height: 100%;
    }
    .section5Text{
        width: 90%;
        height: 80%;
    }
    .section5Text > h1{
        font-size: 25px;
    }
    .section5Text > p{
        font-size: 10px;
    }
    
    
}



@media screen and (max-width: 922px) {
    
    .rightHeader{
        width: 65%!important;
    }
    .getStartedButton{
        width: 25%!important;
        height: 50%;
    }
    .heroSection{
        width: 85%;
        height: 400px;
    }
    .heroSectionLeft{
        width: 50%;
        height: 100%;
    }
    .heroSectionRight{
        width: 50%;
        height: 100%;
    }
    .heroText{
        width: 100%;
        height: 50%;
        /* background-color: yellow; */
    }
    .heroText > h1{
        font-size: 40px;
    }
    .heroText > h6{
        font-size: 15px;
    }
    
    .heroSectionButton{
        width: 40%;
        height: 50px;
        margin-top: -10px;
    }
}